[submodule ".registry"]
	path = .registry
	url = https://github.com/ipeagit/universe
	branch = HEAD
[submodule "aopdata"]
	path = aopdata
	url = https://github.com/ipeaGIT/aopdata
	subdir = r-package
[submodule "r5r"]
	path = r5r
	url = https://github.com/ipeaGIT/r5r
	subdir = r-package
